@model List<TermProjectEad.Models.Product>

@{
    ViewBag.Title = "products";
}

<div class="main">
    <div class="content">
    	<div class="content_top">
    		<div class="heading">
    		<h3> Products</h3>
    		</div>
    		
    		<div class="clear"></div>
    	</div>
	      <div class="section group">
              @foreach(var s in Model)
              {
				<div class="grid_1_of_4 images_1_of_4">
					 <a href="#"><img src="~/Images/@s.image" alt="" /></a>
					 <h2>@s.name </h2>
					 <p>@s.details</p>
					 <p><span class="strike">@s.oldprice</span><span class="price">@s.newprice</span></p>
					 <div class="button"><span><img src="~/Images/cart.jpg" alt="" /><a href="/Cart/AddToCart/@s.Id" class="cart-button">Buy It</a></span> </div>
				     <div class="button"><span><a href="#" class="details">Details</a></span></div>
				</div>
              }
             
    </div>
 </div>
</div>
 


